<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tarot Tutor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css"type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css"type="text/css">

  <link rel="icon" type="image/jpeg" href="images/whimsical-tree-silhouette-5.png">
  </head>
  <body>
  

    