<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">Tarot and Astrology Go Hand in Hand.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/clipart54747.png">
            <h5>
                Both Astrology and Tarot are based on the principles of the four elements: Air, Water, Fire and Earth. Just as the Zodiac signs are based on these four elements, so are the suits in a Tarot deck of cards. 

<br>The Zodiac signs are divided into three major types: Cardinal signs, Fixed signs, and Mutable signs. These modalities represent expression of self to the world. Cardinal signs are the Leaders and Starters of the Zodiac, Fixed Signs are the Consistent Doers of the Zodiac, and Mutable Signs are the Adaptable Finishers of the Zodiac. Each Modality brings value, balance, and harmony to the Zodiac.
</h5>
<h5>Here is how each Major Arcana card relates to its Astrological Sign:</h5>
<table class="u-full-width">
    <thead>
      <tr>
        <th>Astrological Sign</th>
        <th>Tarot Card Association</th>
        <th>Element</th>
        <th>Modality</th>
        <th>Symbolism</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aries</td>
        <td>The Emperor</td>
        <td>Fire</td>
        <td>Cardinal</td>
        <td>Loyalty</td>
      </tr>
      <tr>
          <td>Taurus</td>
          <td>Hierophant</td>
          <td>Earth</td>
          <td>Fixed</td>
          <td>Knowledge, Higher Truth</td>
      </tr>
      <tr>
        <td>Gemini</td>
        <td>The Lovers</td>
        <td>Air</td>
        <td>Mutable</td>
        <td>Duality, Free Will</td>
    </tr>
    <tr>
        <td>Cancer</td>
        <td>The Chariot</td>
        <td>Water</td>
        <td>Cardinal</td>
        <td>Love of Freedom, Overcoming Conflict</td>
    </tr>
    <tr>
        <td>Leo</td>
        <td>Strength</td>
        <td>Fire</td>
        <td>Fixed</td>
        <td>Personal Power, Courage</td>
    </tr>
    <tr>
        <td>Virgo</td>
        <td>The Hermit</td>
        <td>Earth</td>
        <td>Mutable</td>
        <td>Mindfulness, Purposeful Living</td>
    </tr>
    <tr>
        <td>Libra</td>
        <td>Justice</td>
        <td>Air</td>
        <td>Cardinal</td>
        <td>Equity, Balance, Controlled Emotion</td>
    </tr>
    <tr>
        <td>Scorpio</td>
        <td>Death</td>
        <td>Water</td>
        <td>Fixed</td>
        <td>Passion, Renewal, Transformation</td>
    </tr>
    <tr>
        <td>Sagittarius</td>
        <td>Temperance</td>
        <td>Fire</td>
        <td>Mutable</td>
        <td>Mediation, Overcoming Difficulty</td>
    </tr>
    <tr>
        <td>Capricorn</td>
        <td>The Devil</td>
        <td>Earth</td>
        <td>Cardinal</td>
        <td>Acknowledgement of Shadow, Overcoming Negative Patterns, Confidence</td>
    </tr>
    <tr>
        <td>Aquarius</td>
        <td>The Star</td>
        <td>Air</td>
        <td>Fixed</td>
        <td>Optimism, Selflessness</td>
    </tr>
    <tr>
        <td>Pisces</td>
        <td>The Moon</td>
        <td>Water</td>
        <td>Mutable</td>
        <td>Mood, Changing Emotion</td>
    </tr>
    </tbody>
    </table>

        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>