<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">Tarot and Astrology Go Hand in Hand.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/clipart54747.png">
            <h4>
                Both Astrology and Tarot are based on the principles of the four elements: air, water, fire and earth. Just as the Zodiac signs are based on these four elements, so are the suits in a Tarot deck of cards. 

The Face Cards in the Tarot are related to the four elements: The King represents Fire; the Queen represents Water; the Knight represents Air and the Page represents Earth.
</h4>
<h5>Here is how the Major Arcana relate to Astrological Signs:</h5>
<ul>
<li>The zodiac sign, Aries, is correlated with The Emperor, as it represents loyalty.</li>
<li>The zodiac sign, Taurus, is correlated with The Hierophant, as it suggests knowledge and people seeking higher truths.</li>
<li>The zodiac sign, Gemini, is correlated with The Lovers, as it represents the same dual nature of choosing between the high and the low road.</li>
<li>The zodiac sign, Cancer, is correlated with The Chariot, as it represents the love for being free and overcoming life’s conflicts.</li>
<li>The zodiac sign, Leo, is correlated with Strength, as it represents mental, physical, emotional and spiritual power and courage.</li>
<li>The zodiac sign, Virgo, is correlated with The Hermit, as it represents the need to slow down and focus on purpose in life.</li>
<li>The zodiac sign, Libra, is correlated with Justice, as it represents a state of mind where people put their emotions and feelings aside in order to make a fair decision.</li>
<li>The zodiac sign, Scorpio, is correlated with Death, as it represents a sign that welcomes passion, renewal and  transformation.</li>
<li>The zodiac sign, Sagittarius, is correlated with Temperance, as it represents gifted mediators who easily find their way through difficulties.</li>
<li>The zodiac sign, Capricorn, is correlated with The Devil, as it counsels people to reflect on negativity and trade it for confidence. </li>
<li>The zodiac sign, Aquarius, is correlated with The Star, as it pivots on optimism and selflessness.</li>
<li>The zodiac sign, Pisces, is correlated with The Moon, as it portrays ever-changing moods.</li>
</ul>

        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>