<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 40%">Welcome, <%= currentUser.username %>.<br>What would you would like to do today?</h1>
            <img class="one-half column" style="margin-top: 25%"src="/images/treeoflifesideways.png">
            <p>
                <div id="daily-tarot" style="width:100%"></div><script type="text/javascript" src="https://divineapi.com/widget/daily_tarot/widget.js?api=9dcb88e0137649590b755372b040afad&theme=#101211&category=#ffffff&text=#ffffff&icon=2"></script>
            </p>
        <button class="u-full-width"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width"><a href="/user/<%= id %>/edit">I Want to Edit My Account Info</a></button>
        <button class="u-full-width"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>