<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 25%">
        <h1>Welcome, <%= currentUser.username %>.</h1>
        <h1>What would you like to do today?</h1>
            <p>
                <div id="daily-tarot" style="width:100%"></div><script type="text/javascript" src="https://divineapi.com/widget/daily_tarot/widget.js?api=9dcb88e0137649590b755372b040afad&theme=#101211&category=#ffffff&text=#ffffff&icon=2"></script>
            </p>
        <button class="u-full-width"><a href="/user/myStudyList">Access My Study Resources</a></button>
        <button class="u-full-width"><a href="/card">Review Tarot Cards</a></button>
        <button class="u-full-width"><a href="/user/<%= id %>/edit">Edit My Account Info</a></button>
        <button class="u-full-width"><a href="/user/signout">Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>