<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">The Fool's Journey Through the Major Arcana.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/clipart3552946.png" width="100px" height="300px">
            <p>
                "The Fool is 0, the shape of an egg that becomes an embryo and then a child. The Magician represents individuality, the conscious self and the power of the mind, while The High Priestess reveals the unconscious, she initiates The Fool into otherwordly realms, so the child-Fool now possesses conscious and unconscious awareness. The Empress, The Fool's Earthly Mother, and the Emperor, the Fool's Earthly Father, show his moving through parental dependance toward independence. Through The Empress, he appreciates richness of nature, and through the Emperor, he learns that nature, the external world beyond the home, is subject to order. The Hierophant stands for The Fool's education; this priest is also his spiritual teacher. At The Lovers, The Fool must make a decision about love and relationships, and if he chooses wisely, his journey accelerates with The Chariot, at which point the Fool becomes an adult. With purpose and determination, he travels onward, learning from Strength that he needs to balance his baser instincts with his higher ideals. The Hermit sees our Fool learning to be alone, to find his inner wisdom and self-guidance. At the Wheel of Fortune, he sees that Fate can influence his direction. At Justice, our Fool begins to understand how his actions are viewed by others. With The Hanged Man, he is asked to make a sacrifice and gains great self-insight. At XIII he experiences Death, the ultimate transformation. He must let go, feel loss, and still trust life to take him forward. Next, in cards XIV and XV, The Fool encounters an angel and a devil. In card XVI, an angel teaches him the value of balance and centeredness. In XV the Devil brings an opportunity to face his shadow self and ego. At XVI the Tower, our Fool must surrender to the forces of nature; lightning strikes what he has built, freeing him to experience the tarot's three cosmic cards: The Star, The Moon, and The Sun. The Star offers peace, hope, and life guidance, while The Moon throws the Fool into crisis - full of doubt and illusion, he yearns for faith and direction. The Sun offers him healing, growth, and renewal. Judgment sees the Fool looking back on his life and understanding his true purpose. Only then is he ready for the final card, or life stage - XXI The World, or wholeness. When his life experiences are complete, he returns to the ether to be born again as a zero, or a Fool." ~Liz Dean
            </p>
        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>