<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">Learn about the Minor Arcana.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/6ofswords.png">
            <p>
            In divinatory, esoteric and occult tarot, the Minor Arcana are believed to represent relatively mundane features of life. The court cards represent the people whom one meets.
            Each suit has distinctive characteristics and connotations. The Aces begin a Journey, and End with Tens. The connection between cards is often derived from suit, colors, symbols, and mood.
            </p>
        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>