<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 25%">
        <h1><%= currentUser.username %>'s Study Resources  <img src="/images/treeoflifesideways.png" width="150px" height="150px"></h1>
        <br>
        <hr>
        <ul>
            <h3>
                <li>Learn new Spreads.
                <img  class="u-pull-right"src="/images/Tarot Spread.png"width="65px" height="60px">
                </li>
            </h3>
            <h3>
                <li>
                Learn the Journey of the Major Arcana.
                <img class="u-pull-right"src="/images/TheSun.jpeg" width="50px" height="60px">
                </li>
            </h3>
            <h3>
                <li>
                Learn the Purpose of the Minor Arcana.
                <img class="u-pull-right"src="/images/6ofswords.png" width="50px" height="60px">
                </li>
            </h3>
            <h3>
                <li>
                Learn the Suits.
                <img class="u-pull-right"src="/images/Earth Elements.png" width="50px" height="60px">
                </li>
            </h3>
            <h3>
                <li>
                Learn the Ranks.
                <img class="u-pull-right"src="/images/Ranks.png" width="50px" height="60px">
                </li>
            </h3>
            <h3>
                <li>
                Learn how Tarot and Astrology connect.
                <img class="u-pull-right"src="/images/NorthNode.png" width="50px" height="60px">
                </li>
            </h3>
            <hr>
            <h5>Check out your daily horoscope.</h5>
        <div id="astro-widget" style="width:100%"></div><script type="text/javascript" src="https://divineapi.com/widget/daily_horoscope/widget.js?api=9dcb88e0137649590b755372b040afad&theme=#000000&color=#fff&text=#000&icon=2"></script>
    </ul>
    <button class="u-full-width button-primary"><a href="/user/landing">User Home</a></button>
    <button class="u-full-width button-primary"><a href="/user/signout">Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>