<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 20%">
        <h1><%= currentUser.username %>'s Study Resources</h1>
        <br>
        <hr style="border-width: 1px; border-color:#ffffff">
        <ul>
            <h3>
                Learn new Spreads.
                <img style="border-color: black; border-width: 1px"class="u-pull-center"src="/images/Tarot Spread.png"width="100px" height="90px">
                
            </h3>
            <h3>
                
                Learn the Journey of the Major Arcana.
                <img style="border-color: black"class="u-pull-center"src="/images/clipart54747.png" width="80px" height="90px">
                
            </h3>
            <h3>
                
                Learn the Purpose of the Minor Arcana.
                <img style="border-color: black"class="u-pull-center"src="/images/6ofswords.png" width="65px" height="85px">
                
            </h3>
            <h3>
            
                Learn the Suits.
                <img style="border-color: black"class="u-pull-center"src="/images/Sagittarius.png" width="75px" height="75px">
                
            </h3>
            <h3>
                
                Learn the Ranks.
                <img style="border-color: black"class="u-pull-center"src="/images/Ranks.png" width="70px" height="90px">
                
            </h3>
            <h3>
                
                Learn how Tarot and Astrology connect.
                <a href="/user/astrology"><img style="border-color: black"class="u-pull-center"src="/images/NorthNode.png" width="80px" height="70px"></a>
                
            </h3>
            <hr style="border-width: 1px; border-color:#ffffff">
            <a href="/user/horoscope"><h5 style="color:cadetblue">Need a little fun? Check out your daily horoscope here.</h5></a>
        
    </ul>
    <button class="u-full-width button-primary"><a href="/user/landing">User Home</a></button>
    <button class="u-full-width button-primary"><a href="/user/signout">Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>