<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">Learn the Ranks and their Meanings.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/ranks.png">
        </div>
            <table class="u-full-width">
                <thead>
                    <tr><th>Rank</th>
                    <th>Interpretation</th></tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Ace</td>
                    <td>Beginnings</td>
                    </tr>
                    <tr>
                    <td>Two</td>
                    <td>Duality, Partnership, Decisions</td>
                    </tr>
                    <tr>
                    <td>Three</td>
                    <td>Acknowledgement and Activity</td>
                    </tr>
                    <tr>
                    <td>Four</td>
                    <td>Stability</td>
                    </tr>
                    <tr>
                    <td>Five</td>
                    <td>Instability</td>
                    </tr>
                    <tr>
                    <td>Six</td>
                    <td>Harmony, Improvement</td>
                    </tr>
                    <tr>
                    <td>Seven</td>
                    <td>Potential, Ambition</td>
                    </tr>
                    <tr>
                    <td>Eight</td>
                    <td>Gateways, Change</td>
                    </tr>
                    <tr>
                    <td>Nine</td>
                    <td>Intensity</td>
                    </tr>
                    <tr>
                    <td>Ten</td>
                    <td>Completion</td>
                    </tr>
                </tbody>
            </table>
        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>

    </div>
  </div>






<%- include('./partials/footer.ejs') %>