<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h1>Register Your Tarot Tutor Account.</h1>
        <form action="/user/register" method="POST">
            <fieldset>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </fieldset>
            <fieldset>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                <label for="verifyPassword">Verify Pasword:</label>
                <input type="password" name="verifyPassword" id="verifyPassword">
            </fieldset>
            <input type="submit" value="Sign Up">
        </form>
        <p></p>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>