<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
    <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 10%">There Are Many Spreads. Try This One for Practice.</h1>
       
    </div>
    <div style="margin-top: 20%">
           
            <img class="u-full-width" src="/images/3CardwithClarifiers.png"width="400px" height="800px">
            <h1>Or this one..</h1>
            <img class="u-full-width" src="/images/Celtic Cross.png"with="400px" height="800px">
            <br>
            

    </div>
    <br>
        <h2>Or how about this one?</h2>
        <img class="u-full-width"src="/images/Star7spread.png"width="100px" height="800px">
        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>