<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div style="margin-top: 10%">
        <h1 class="one-half column" style="margin-top: 20%">Learn the Suits and their Meanings.</h1>
            <img class="one-half column" style="margin-top: 20%"src="/images/Sagittarius.png">
            <table class="u-full-width">
                <thead>
                  <tr>
                    <th>Suit</th>
                    <th>Associated With</th>
                    <th>Quick Way To Remember</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cups</td>
                    <td>The Heart: Emotions and Relationships</td>
                    <td>I FEEL</td>
                  </tr>
                  <tr>
                      <td>Pentacles</td>
                      <td>The Body: Possessions and the Material World</td>
                      <td>I HAVE</td>
                  </tr>
                  <tr>
                    <td>Wands</td>
                    <td>The Soul: Passion, Intuition, and Direction</td>
                    <td>I DESIRE</td>
                </tr>
                <tr>
                    <td>Swords</td>
                    <td>The Mind: Intelligence and Decisions</td>
                    <td>I THINK, I FEAR</td>
                </tr>
                </tbody>
                </table>
        <button class="u-full-width button-primary"><a href="/user/myStudyList">I Want to Access My Study Resources</a></button>
        <button class="u-full-width button-primary"><a href="/card">I Want to Review Individual Tarot Card Meanings</a></button>
        <button class="u-full-width button-primary"><a href="/user/signout">I Want to Sign Out</a></button>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>