<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h1>Welcome to Tarot Tutor.</h1>
        <img src="/images/whimsical-tree-silhouette-5.png">
        
        <h1>Enhance Your Intuition.</h1>
        <h5>
            <a href="/user/register">Register</a>
            <a href="/user/signin">Sign In</a>
        <h5>
      </div>
    </div>
  </div>






<%- include('./partials/footer.ejs') %>